<div class="container">
  <h1 class="fs-1 lh-lg">Stupid Coaching</h1>


  <p class="ms-4">Ask your coach anything:</p>
  <form action="/answer" method="get" data-turbo="false">
    <div class="col-sm-10">
      <input type="text" name="answer" class= "form-control-lg">
    </div>
    <div class="col-sm-2">
      <input type="submit" value="Ask!" class= "btn btn-primary">
    </div>
  </form>
</div>
